pose_log.csv
*.tar.gz
*.img
.codex
__pycache__/
*.pyc
*.pyo
*.so
*.rknn
mediamtx/mediamtx
rga_utils.py
*.log

# 第三方源码/二进制目录
ffmpeg-rockchip/
gst-rockchip/
mpp/
rknn-llm/
rknn_model_zoo/
models/

# 系统镜像
Orangepi5_*/
