[Unit]
Description=MediaMTX RTSP/WebRTC/HLS Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=chun
WorkingDirectory=/home/chun/Develop/pose/mediamtx
ExecStart=/home/chun/Develop/pose/mediamtx/mediamtx /home/chun/Develop/pose/mediamtx/mediamtx.yml
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
